Hi @ViewData.Model.Order.User.FirstName, <br /><br />

You are scheduled to pickup the item, @ViewData.Model.Item.Name, today from @ViewData.Model.Item.Owner.FirstName. Here are the order details:<br/><br/>

<strong>Order ID</strong>: @ViewData.Model.OrderDetailId <br/>
<strong>Item Name</strong>: @ViewData.Model.Item.Name<br/>
<strong>Item Pickup Date</strong>: @ViewData.Model.PickupDate<br/>
<strong>Item Drop-off Date</strong>: @ViewData.Model.DrofoffDate<br/>
<strong>Number of Days</strong>: @ViewData.Model.NumberOfDays<br />
<strong>Pickup Location</strong>: <br />
@ViewData.Model.Item.PickupLocation.StreetAddress1<br />
@if (ViewData.Model.Item.PickupLocation.StreetAddress2 != null){
    <span>@ViewData.Model.Item.PickupLocation.StreetAddress2</span>
    <br />
}
@ViewData.Model.Item.PickupLocation.City, @ViewData.Model.Item.ItemRegion.Name,<br />
@ViewData.Model.Item.ItemCountry.Name<br /><br />

Your Rambla Code is: <strong>@ViewData.Model.RenterCode</strong> <br />
@{
    RouteValueDictionary route = new RouteValueDictionary(new
    {
        order = ViewData.Model.OrderId,
        item = ViewData.Model.OrderDetailId
    });

    string baseURL = Url.Action("processsecuritycode", "PostCheckOut", route, Request.Url.Scheme.ToString(), Request.Url.Host);
}

Please exchange rental codes with @ViewData.Model.Item.Owner.FirstName when the item is picked up.<br />

Click <a href="@baseURL">here</a> to enter @ViewData.Model.Item.Owner.FirstName's Rambla Code to confirm that you have picked up the item.<br/><br />

Regards,<br />
Rambla Team