<!DOCTYPE html>
<html>
<head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/grid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/mdp.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/style.less")" rel="stylesheet/less" type="text/css" />

        <link href="@Url.Content("~/Content/print.css")" rel="stylesheet" type="text/css" media="print" />
        <!------ CLEAN UP ------>
        <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/classic/galleria.classic.css")" rel="stylesheet" type="text/css" />
        <!------ CLEAN UP ------>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/less.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/galleria-1.2.6.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/themes/classic/galleria.classic.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.multidatespicker.js")" type="text/javascript"></script>
    
        <!-- To fix facebook's stupid redirect hash -->
        <script type="text/javascript">        if (window.location.hash == '#_=_') window.location.hash = '';</script>
        <meta http-equiv="cache-control" content="no-cache, no-store" />
    </head>
    <body>
    <!-- New login form is on all pages now and is running AJAX -->
    @{ 
        if (Request.IsAuthenticated != true)
        {
            <div id="logon_partial">
                <div id="login_facebook_shared">
                    <fb:login-button size="xlarge" perms="email,user_birthday,user_likes,user_education_history,user_hometown,user_interests,user_activities,user_location">Login with Facebook</fb:login-button>
                </div>
                @{Html.RenderPartial("_LogOnPartial", new otr_project.Models.LogOnModel());}
            </div>
        }
    }
    <div id = "wrapper">
        <!------ Page Container - 960, 12 Column ------>
        <!------ Hello Bar ------>
        <!---
        <div id="hello_bar">
            <p>
                Check out new features and what's coming soon <a href="/Account/LogOn">here &raquo;</a></p>
        </div>
        <div class="clear">
            &nbsp;
        </div>
        --->
        <!------ Header ------>
        @{
            string search_box_value = "";

            if (Request.FilePath.Contains("/Search") && Session["SEARCH_KEYWORD"] != null)
            {
                search_box_value = Session["SEARCH_KEYWORD"].ToString();
            }

            otr_project.Models.RentalCart cart = otr_project.Models.RentalCart.GetCart(this.Context);
            if (cart.GetCartItems().Count > 0)
            {
                Session["RentalCartItems"] = cart.GetCartItems().Count;
            }

            if (Session["RentalCartItems"] == null)
            {
                Session["RentalCartItems"] = 0;
            }
        }
        <div id="header">
            <div class="container_12">
                <div class="grid_2" id="top_left"> </div>
                <div class="grid_1" id="top_centre_one"> </div>
                <div class="grid_1" id="top_centre_two"> </div>
                <div class="grid_1" id="top_centre_three"> </div>
                <div class="grid_1" id="top_centre_four"> </div>
                <div class="grid_6" id="top_right"> </div>
                <div class="clear">
                    &nbsp;</div>
                <!------ Header Top Row ------>
                <div class="grid_2" id="logo">
                    <p>@Html.ActionLink("Rambla", "Index", "Home")</p>
                </div>
                @if (Request.IsAuthenticated)
                {
                    /*<a href="@Url.Content("~/Account/LogOff")">Sign Out</a>*/
                }
                else
                {
                    <div class="grid_1 navbar" id="login">
                        <a href="@Url.Content("~/Account/Register")">Sign Up</a>
                    </div>
                }
                @if (Request.IsAuthenticated)
                {
                    <div id="dropdown_grid" class="grid_3">
                        <div class="navbar_dropdown">
                            <span id="navbar_ddtop">Hi <a href="@Url.Action("Index", "User")">@Session["USER_F_NAME"] <span id="down_arrow">&#x25BC;</span></a></span>
                            <ul>
                                <li><a href="@Url.Content("~/User/MessageBox")">Inbox</a></li>
                                <li><a href="@Url.Content("~/User/Items")">Items Listed</a></li>
                                <li><a href="@Url.Content("~/User/ItemsBorrowed")">Items Borrowed</a></li>
                                <li><a href="@Url.Content("~/User/Agreements")">Agreements</a></li>
                                <li id="bottom_item"><a href="@Url.Content("~/Account/LogOff")">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {    
                    <div class="grid_2" id="signup">
                        <a href="@Url.Content("~/Account/LogOn")">Log In</a>   
                    </div>
                }
                <div class="grid_6 push_1 nav_right">
                    <ul class="nav_links">
                    <!--
                        <li>@Html.ActionLink("24/7 Support", "Index", "Home")</li>
                        <li class = "navbar">@Html.ActionLink("How It Works", "Index", "Home")</li>
                    -->    
                        <li><a id="cart_num" href="@Url.Action("Index", "RentalCart")">Cart (@Session["RentalCartItems"])</a></li>
                    </ul>
                </div>
                <div class="clear">
                    &nbsp;</div>
                <!------ Header Bottom Row ------>
                <div class="grid_2 push_2">
                    <div id="btn_list">
                     @Html.ActionLink("List Item", "Create", "Item")
                    </div>
                </div>
                <div class="grid_3 prefix_7">
                    <div id="search_display">
                        @using (Html.BeginForm("Index", "Search", new { id = 1 }, FormMethod.Post))
                        {
                            <input id="search_box" name="search" type="text" class="globalsearchbox" placeholder="eg. sleeping bags, drill bits, cottages" value="@search_box_value"/>
                            <input id="btn_search" type="submit" value=">" />
                        }
                    </div>
                </div>
                <div class="clear">
                    &nbsp;</div>
            </div>
        </div>
        <!------ Body ------>
        <div id="header_bottom_strip">
        </div>
        <div id="header_shadow">
        </div>
        <div id="body_container">
            @RenderBody()
        </div>
    </div>
    <div class = "clearfooter"></div>
    <div id = "footer_all">
        <div id="footer_shadow">
        </div>
        <div id="footer_bottom_strip">
        </div>
    <!------ Footer ------>
        <div id="footer">
            <div class="container_12 noprint">
                <div class= "grid_5">
                    <a class = "footer_links" href="@Url.Content("~/Content/rambla.pdf")">How Stuff Works</a>
                </div>
                <div class="grid_2 push_5">
                    <span id="comodo_ssl_seal">
                        <img src="@Url.Content("~/Content/images/comodo_secure.gif")" alt="Instant SSL Certificate Secure Site" width="76" height="40">
                    </span>
                </div>
                <div class="clear">
                    &nbsp;</div>
            </div>
        </div>
    </div>
    <!------ Pinterest Script ------>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <!------ GooglePlus Script ------>
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script type="text/javascript">
        var uvOptions = {};
        (function () {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/8PFcoYESX5HncdvR8jd0ew.js';
            //uv.src = 'http://' + 'widget.uservoice.com/8PFcoYESX5HncdvR8jd0ew.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
    <!------ Facebook Script ------>
    @{Html.RenderPartial("FacebookInit");}
</body>
</html>
