

@{
    ViewBag.Title = "Rambla | Change Password";
}

<div class = "container_12">
    <div class="header_to_body_gap"></div>
    <!----- Account Dashboard ----->
    <div class="grid_12" id = "my_account_dashboard">
        <ul class="user_nav_links">
            <li class="user_navbar">@Html.ActionLink("Agreements", "Agreements", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Borrowed", "ItemsBorrowed", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Listings", "Items", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Inbox", "MessageBox", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Profile", "Index", "User")</li>
        </ul>
    </div>
    <div class="clear">
    &nbsp;</div>

    <div class="grid_12">
        <div id="Change_Password_Title" class="title_container">
            <h1>
                Change Password
            </h1>
        </div>
        <div id="user-edit-container" class="container">
            Your password has been changed successfully.
        </div>
    </div>
</div>
