<!------ Tab and Window Title ------>
@model otr_project.Models.LogOnModel
@{
    ViewBag.Title = "Rambla | Log in to Rambla";
}

<!--
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<p>
    Please enter your ads and password. @Html.ActionLink("Register", "Register") if you don't have an account.
</p>
-->
<!------ Facebook Logon ------>
<div class="container_12">
    <div class="grid_4 push_3">
        <div id="login_container">
            <h2>Log In to Rambla</h2>
            <div id="login_facebook">
                <fb:login-button size="xlarge" perms="email,user_birthday,user_likes,user_education_history,user_hometown,user_interests,user_activities,user_location">Login with Facebook</fb:login-button>
            </div>
            <p>or</p>
            <!------ E-mail Logon ------>
            @using (Html.BeginForm()) {
                <div id="form_container">
                        <div class="form_field">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form_field">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", type = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <!--
                        <div class="editor-label">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        -->
                        @Html.ValidationSummary(true)
                        <div class="btn_submit">
                            <input id="LoginButton" type="submit" value="Login">
                        </div>
                        <div id="forgot_pwd">@Html.ActionLink("Forgot your password?", "Index", "Home")</div>
                </div>
            }
        </div>
    </div>
    <div class="grid_5">
    </div>
    <div class="clear">
        &nbsp;</div>
</div>