@model otr_project.Models.UserModel

@{
    ViewBag.Title = "Rambla | Account Details";
}

<div class = "container_12">
    <div class="header_to_body_gap"></div>
    <!----- Account Dashboard ----->
    <div class="grid_12" id = "my_account_dashboard">
        <ul class="user_nav_links">
            <li class="user_navbar">@Html.ActionLink("Agreements", "Agreements", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Borrowed", "ItemsBorrowed", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Listings", "Items", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Inbox", "MessageBox", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Profile", "Index", "User")</li>
        </ul>
    </div>
    <div class="clear">
    &nbsp;</div>

    
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="grid_12">
            <div>
                <div id="User_Details_Title" class="title_container">
                    <h1>
                        @(Model.FirstName + " " + Model.LastName)
                    </h1>
                    <h2 id="User_Details_Subtitle" class="page_subtitle">
                        Edit your profile information
                    </h2>
                </div>
                <div class="container">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="editor-label">
                                            @Html.ValidationSummary(true)
                                            @if (Model.isFacebookUser == true)
                                            {
                                                <img src="http://graph.facebook.com/@Model.FacebookProfile.Id/picture?type=large" />
                                            }
                                            else if (Model.ProfilePicture != null)
                                            {
                                                <img src="@Url.Content("~/User/GetProfilePicture")" class="img_profile" />
                                                <span class="form_label_small">
                                                    Upload a new profile picture <br />
                                                    <span class="de-emphasise">(Images should be lesser than 500 KB. Acceptable formats are JPEG, PNG, GIF, BMP and ICO)</span>
                                                </span>
                                                <input type="file" name="file" id="file" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Content/images/empty_profile_picture.png")" class="img_profile" />
                                                <span class="form_label_small">
                                                    Upload a profile picture <br />
                                                    <span class="de-emphasise">(Images should be lesser than 500 KB. Acceptable formats are JPEG, PNG, GIF, BMP and ICO)</span>
                                                </span>
                                                <input type="file" name="file" id="file" class="upload_user_picture_input" />
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div id="Price_Box">
                                            @Html.TextBoxFor(model => model.Email, new { type = "hidden" })
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                                                @Html.ValidationMessageFor(model => model.FirstName)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                                                @Html.ValidationMessageFor(model => model.LastName)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.Address1, new { placeholder = "Address Line 1" })
                                                @Html.ValidationMessageFor(model => model.Address1)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.Address2, new { placeholder = "Address Line 2" })
                                                @Html.ValidationMessageFor(model => model.Address2)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.City, new { placeholder = "City" })
                                                @Html.ValidationMessageFor(model => model.City)
                                            </div>
                                            <div class="form_dropdown">
                                                @Html.DropDownList("RegionId", null, "Province", new { onchange = "RegionColour()" })
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.PostalCode, new { placeholder = "Postal Code" })
                                                @Html.ValidationMessageFor(model => model.PostalCode)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.CellPhone, new { placeholder = "Cell Phone # eg. 4161231234" })
                                                @Html.ValidationMessageFor(model => model.CellPhone)
                                            </div>
                                            <div class="form_field">
                                                @Html.TextBoxFor(model => model.HomePhone, new { placeholder = "Home Phone # eg. 4161231234" })
                                                @Html.ValidationMessageFor(model => model.HomePhone)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_listit_page">
                            <input type="submit" value="Update your profile" />
                        </div>
                </div>
            </div>
        </div>
    }
</div>