@model IEnumerable<otr_project.Models.Order>

@{
    ViewBag.Title = "Rambla | Items Borrowed";
}

<div class = "container_12">
    <div class="header_to_body_gap"></div>
    <!----- Account Dashboard ----->
    <div class="grid_12" id = "my_account_dashboard">
        <ul class="user_nav_links">
            <li class="user_navbar">@Html.ActionLink("Agreements", "Agreements", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Borrowed", "ItemsBorrowed", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Listings", "Items", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Inbox", "MessageBox", "User")</li>
            <li class="user_navbar">@Html.ActionLink("Profile", "Index", "User")</li>
        </ul>
    </div>
    <div class="clear">
    &nbsp;</div>

    <div class="grid_9">
            <div id="User_Items_Borrowed_Title" class="title_container_item_left">
                <h1>
                    Items Borrowed
                </h1>
                <h2 id="User_Items_Borrowed_Subtitle" class="page_subtitle">
                    Here are all the items you have rented from other Rambla users
                </h2>
            </div>
    </div>
    <div class="grid_3">
        <div class ="title_container_item_right">
            <h2>
                Earnings: @ViewBag.UserEarnings.ToString("C")
            </h2>
        </div>
    </div>

    <div class="clear">
    &nbsp;</div>

    <div class="grid_12">
        <div id="user-items-listed-container" class="container">
            @if (Model.Count() > 0)
            {
                <table class="user_items_listed">
                    <thead>
                        <tr>
                            <th>Item Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Pickup Date</th>
                            <th>Return Date</th>
                            <th>Security Deposit</th>
                            <th>Total</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            foreach (otr_project.Models.OrderDetailModel item in order.OrderDetails)
                            {
                                <tr>
                                    <td class="items_justify_center">
                                        @{
                                            if (item.Item.ItemImages.Count > 0)
                                            {
                                                <img src="@Url.Content("~/Item/GetItemImage/" + item.Item.ItemImages.ToList()[0].Id)" />
                                            }
                                            else
                                            {
                                                <div class="display-field">No Images</div>
                                            }    
                                        }
                                    </td>
                                    <td class="item_name">
                                        <p>@item.ItemName</p>
                                    </td>
                                    <td class="item_desc">
                                        @if (item.ItemDesc.Length > 50)
                                        {
                                        <span>@(item.ItemDesc.Substring(0, 50) + "...")</span>
                                        }
                                        else
                                        {
                                        <span>@item.ItemDesc</span> 
                                        }
                                    </td>
                                    <td class="items_justify_center">
                                        @item.Category.Name
                                    </td>
                                    <td class="items_justify_center">
                                        @item.PickupDate.ToLongDateString()
                                    </td>
                                    <td class="items_justify_center">
                                        @item.DrofoffDate.ToLongDateString()
                                    </td>
                                    <td class="items_justify_center">
                                        @item.SecurityDeposit.ToString("C")
                                    </td>
                                    <td class="items_justify_center">
                                        @(((item.UnitPrice * item.NumberOfDays) + item.SecurityDeposit).ToString("C"))
                                    </td>
                                    <td class="item_location">
                                        @switch (item.Status)
                                        {
                                            case (int)otr_project.Models.OrderStatus.ORDER_TENTATIVE:
                                                <span>Confirm item pickup by clicking @Html.ActionLink("here", "ProcessSecurityCode", "PostCheckOut", new { order = order.OrderId, item = item.OrderDetailId }, null).</span>
                                                                                 break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_COMPLETE:
                                            case (int)otr_project.Models.OrderStatus.ORDER_DELAYED_RETURN:
                                                <span>Take good care of the item.</span>
                                                                                 break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_LATE:
                                                <span>Pickup date has passed. Please click @Html.ActionLink("here", "ProcessSecurityCode", "PostCheckOut", new { order = order.OrderId, item = item.OrderDetailId }, null) to enter the security code if you have picked up the item.</span>
                                                                                      break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_CLOSED_HAPPY:
                                                <span>This order has completed. Thank you!</span>
                                                                                      break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_DISPUTE:
                                                <span>This order is in a state of dispute.</span>
                                                                                      break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_CLOSED_UNHAPPY:
                                                <span>This order has completed. Thank you!</span>
                                                                                      break;

                                            case (int)otr_project.Models.OrderStatus.ORDER_TERMINATED:
                                                <span>This order has been cancelled. You're money has been returned to you.</span>
                                                                                      break;

                                            default:
                                                <span>We're having some trouble tracking this order. Please try again later.</span>
                                                                                      break;
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span>Uh oh, looks like you have not yet rented an item. Go ahead, try renting on Rambla.</span>
            }
        </div>
    </div>
</div>