@model IEnumerable<otr_project_internal.Models.ItemModel>

@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Desc
        </th>
        <th>
            CategoryId
        </th>
        <th>
            AddressId
        </th>
        <th>
            RegionId
        </th>
        <th>
            CountryId
        </th>
        <th>
            CostPerDay
        </th>
        <th>
            SecurityDeposit
        </th>
        <th>
            isActive
        </th>
        <th>
            UserModelEmail
        </th>
        <th>
            AgreementId
        </th>
        <th>
            ImageCount
        </th>
        <th>
            DateCreated
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityDeposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserModelEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
